ul{
	list-style-type: none;
}

#container{
	position: relative;
}

#top, #bottom{
	position: absolute;
}

#bottom{
	height: 42em;
	background: #fff;
	opacity: 0;
}

#lorem{
	font-size: 2.25em;
	line-height: 250%;
	padding: 1em 7.25em;
	font-family: 'Pinyon Script', cursive;
}

#about{
	background: grey;
}

#resume li{
	padding-bottom: 1em;
}

/*Nav Bar*/
.top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button), .top-bar .name h1 a{
	background: transparent;
	color: #000;
}

.sticky, .top-bar{
	background: rgba(255,255,255,.1);
}

.top-bar{
	height:0;
}

.header{
	background: url(../img/DSC_0015-2.jpg);
	background-position: -25em -60em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 42em;
}

.thumbnails{
	overflow: scroll;
	height:31.25em;
}

.center{
	text-align: center;
}

.move{
	left:100000px;
}