.header{
	background: url(../img/DSC_0015-2.jpg);
	background-position: 0 -25em;
	background-size: 100%;
	background-attachment: fixed;
	height: 42em;
}

.thumbnails{
	overflow: scroll;
	height:31.25em;
}